<html>
  <head>
    <title>Quintype App</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
   
  </head>
  <body ng-app="dimond-game">
    <div id="container" ng-controller="HomeController">
      <div>
        <div class="header">
          <h1 class="game-title text-center">
            {{game_name}}
          </h1>
        </div>
        <div class="main-container">
          
        
        <div class="btn-container">
          <button ng-click="restart()" class="reset-btn">
            Restart
          </button>
        </div>
        <div class="table-container">
        <table class="diamondsweeper-board">
          <tbody ng-init="count=0">
            <tr ng-repeat="r in table_details.rows">
              <td ng-repeat="c in table_details.col" ng-init="count=($index+1)+($parent.$index*env.COLUMNS_COUNT)" class="{{(heigh_light==count ? 'hint' : '' ) +' '+ (status===0 ? 'init' : '') }}">
                <div ng-click="onClick(count)" class="cell {{(correct_ans_array.indexOf(count)!=-1 ? 'diamond' : (wrong_ans_array.indexOf(count)!=-1 ? 'wrong' : 'unknown' ))}}"></div>
              </td>
            </tr>
          </tbody>
        </table>
        
        
        <div class="hints-container">
        <ul class="hint-lists">
          <li class="hint-list">
            The game board has {{env.ROWS_COUNT}}x{{env.COLUMNS_COUNT}} squares
          </li>
          <li class="hint-list">
            There are {{env.DIMONDS_COUNT}} diamonds hidden on the board, each diamond behind one of the squares
          </li>
          <li class="hint-list">
            When you clicks on a square
              <ul>
                <li>
                  If the square was hiding a diamond, the diamond appears
                  Otherwise, the square is opened, and blank
                </li>
              </ul>
          </li>
          <li class="hint-list">
              The game ends when all diamonds are found.
          </li>
        </ul>
        </div>
        </div>
        </div>
      </div>

      <!-- modal -->
      <div id="modal-container" class="{{(final_score!='' || final_score===0) ? 'four' : ''}}">
        <div class="modal-background">
          <div class="modal">
            <h2>YOUR SCORE</h2>
            <p>{{final_score}}</p>
            <button ng-click="restart()" class="reset-btn">
              Restart
            </button>
          </div>
        </div>
      </div>
      <!-- modal end -->
    </div>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>
