<html>
  <head>
    <title>Quintype App</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
   
  </head>
  <body ng-app="dimond-game">
    <div id="container" ng-controller="HomeController">
      <div>
        <div class="messages"></div>
        <table class="diamondsweeper-board">
          <tbody ng-init="count=0">
            <tr ng-repeat="r in table_details.rows">
              <td ng-repeat="c in table_details.col" ng-init="count=($index+1)+($parent.$index*8)" class="{{(heigh_light==count ? 'hint' : '' ) }}">
                <div ng-click="onClick(count)" class="cell {{(correct_ans_array.indexOf(count)!=-1 ? 'diamond' : (wrong_ans_array.indexOf(count)!=-1 ? 'wrong' : 'unknown' ))}}"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>
