@import './_modal.scss';
body{
  margin: 0px;
}
.text-center
{
  text-align: center;
}
.header
{
    width: 100%;
    float: left;
    background-color: #19fb54;
    color: white;
    h1
    {
      margin: 6px 0px;
    }
}
.main-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url('./bg.jpg');
    .table-container {
      width: 100%;
      overflow-x: auto;
      height: 100%;
    }
  .btn-container
  {
    width: 100%;
    max-width: 433px;
    padding-top: 10px;
  }
}
.rem
{
  color: white;
}
button.reset-btn {
      background-color: #19fb54;
      border: unset;
      color: white;
      margin-bottom: 10px;
      padding: 5px 16px;
      border-radius: 6px;
      float: right;
      cursor: pointer;
  }
table.diamondsweeper-board {
  margin: 0 auto;
  background-color: white;
    box-shadow: 0px 6px 81px 15px #0e0e0e;
  td {
    padding: 0;
    border: 1px solid #aba9a9;
    box-shadow: 1px 1px 1px #a79797;
    &.init
    {
      animation : colAnimation;
    animation-duration : 3s;
    }
    &.hint {
      border: 1px solid red;
      animation : flip;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      &>.cell
      {
        animation : flipChild;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }
    }
  }
}
.cell {
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center; 

  &.diamond {
    background-image: url(diamond.png);
    animation : dimondAnimation;
    animation-duration : 3s;
  }

  &.arrow {
    background-image: url(arrow.png);
  }

  &.unknown {
    background-image: url(question.png);
    cursor: pointer;
    
  }
}
li.hint-list {
    color: white;
}

@keyframes flip {
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}

@keyframes flipChild
{
  0%{
    background-image: url(question.png);
  }
  18%{
    background-image: url(question.png);
  }
  19%
  {
    background-image: url(diamond.png);
  }
  
47%
  {
    background-image: url(diamond.png);
  }
  48%{
    background-image: url(question.png);
  }
  100%{
    background-image: url(question.png);
  }
}

@keyframes colAnimation
{
  0%
  {
    position: relative;
    top: -100px;
  }
  100%
  {
    position: relative;
    top: 0px;
  }
}

@keyframes dimondAnimation
{
  0%
  {
    background-size: 100%;
  }
  25%
  {
    background-size: 75%;
  }
  50%
  {
    background-size: 50%;
  }
  75%
  {
    background-size: 75%;
  }
  100%
  {
    background-size: 100%;
  }
}
